# DSCI 100: Group Project Proposal 


## Classification of Facebook Posts

#### Introduction:

The dataset *Facebook performance metrics* (Moro et al., 2016) contains data related to posts published throughout the year 2014 on a renowned cosmetics brand's Facebook page. Post information such as type (photo, status, link, or video), time posted (month, day of week, and hour), user engagement (comments, likes, and shares), and whether the post was paid or unpaid is included in the dataset. This project proposes to use columns from this dataset relevant to engagement - all input columns excluding post month, weekday, and hour - to determine the type of a brand's Facebook post. Key metrics and their correlation with type of post will be investigated to determine whether there is a relationship between the two.

#### Preliminary exploratory data analysis:

We begin by loading the relevant libraries.

In [54]:
# Load libraries for preliminary data analysis:
library(tidyverse)
library(repr)
library(readxl)
library(knitr)

Warning message:
“package ‘knitr’ was built under R version 4.0.1”

The following cell loads the dataset into R; as the dataset on the web is contained in a zip folder, the .csv file was manually extracted and pushed to the working Github repository.

The dataset is already in tidy format. The column headings were made more usable by removing spaces and shortening longer headings.

In [68]:
# displays first and last 8 rows of the dataset
options(repr.matrix.max.rows = 16)

fb_data <- read_csv2("https://raw.githubusercontent.com/Feibulous12/DSCI100-Project/cce71d1e7ee3aa40337a5075095bd39776437dee/data/dataset_fb.csv")
colnames(fb_data) <- c("page_likes", "type", "category", "post_month", "post_weekday", "post_hour", "paid", "reach", 
      "impressions", "engaged_users", "post_consumers", "post_consumptions", "impressions_by_people_that_liked_page", 
      "reach_by_people_that_like_page", "people_liked_and_engaged", "comments", "likes", "shares", "interactions")

fb_data

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  `Page total likes` = col_double(),
  Type = col_character(),
  Category = col_double(),
  `Post Month` = col_double(),
  `Post Weekday` = col_double(),
  `Post Hour` = col_double(),
  Paid = col_double(),
  `Lifetime Post Total Reach` = col_double(),
  `Lifetime Post Total Impressions` = col_double(),
  `Lifetime Engaged Users` = col_double(),
  `Lifetime Post Consumers` = col_double(),
  `Lifetime Post Consumptions` = col_double(),
  `Lifetime Post Impressions by people who have liked your Page` = col_double(),
  `Lifetime Post reach by people who like your Page` = col_double(),
  `Lifetime People who have liked your Page and engaged with your post` = col_double(),
  comment = col_double(),
  like = col_double(),
  share = col_double(),
  `Total Interactions` = col_double()
)

    page_likes type   category post_month post_weekday post_hour paid reach
1   139441     Photo  2        12         4             3        0     2752
2   139441     Status 2        12         3            10        0    10460
3   139441     Photo  3        12         3             3        0     2413
4   139441     Photo  2        12         2            10        1    50128
5   139441     Photo  2        12         2             3        0     7244
6   139441     Status 2        12         1             9        0    10472
7   139441     Photo  3        12         1             3        1    11692
8   139441     Photo  3        12         7             9        1    13720
⋮   ⋮          ⋮      ⋮        ⋮          ⋮            ⋮         ⋮    ⋮
493 85979      Link   1        1          5            11         0   45920
494 85093      Photo  3        1          1             2         0    8412
495 85093      Photo  3        1          7            10         0    5400
496 85093      Photo  3        1          7             2         0    4684
497 81370      Photo  2        1          5             8         0    3480
498 81370      Photo  1        1          5             2         0    3778
499 81370      Photo  3        1          4            11         0    4156
500 81370      Photo  2        1          4             4        NA    4188
    impressions engaged_users post_consumers post_consumptions
1    5091        178           109            159
2   19057       1457          1361           1674
3    4373        177           113            154
4   87991       2211           790           1119
5   13594        671           410            580
6   20849       1191          1073           1389
7   19479        481           265            364
8   24137        537           232            305
⋮   ⋮           ⋮             ⋮              ⋮
493  5808        753           655            763
494 13960       1179          1111           1632
495  9218        810           756           1003
496  7536        733           708            985
497  6229        537           508            687
498  7216        625           572            795
499  7564        626           574            832
500  7292        564           524            743
    impressions_by_people_that_liked_page reach_by_people_that_like_page
1    3078                                  1640
2   11710                                  6112
3    2812                                  1503
4   61027                                 32048
5    6228                                  3200
6   16034                                  7852
7   15432                                  9328
8   19728                                 11056
⋮   ⋮                                     ⋮
493 15766                                 10720
494  8632                                  5348
495  5654                                  3230
496  4750                                  2876
497  3961                                  2104
498  4742                                  2388
499  4534                                  2452
500  3861                                  2200
    people_liked_and_engaged comments likes shares interactions
1    119                      4         79   17     100
2   1108                      5        130   29     164
3    132                      0         66   14      80
4   1386                     58       1572  147    1777
5    396                     19        325   49     393
6   1016                      1        152   33     186
7    379                      3        249   27     279
8    422                      0        325   14     339
⋮   ⋮                        ⋮        ⋮     ⋮      ⋮
493 220                       0       128    9     137
494 699                      17       185   55     257
495 422                      10       125   41     176
496 392                       5        53   26      84
497 301                       0        53   22      75
498 363                       4        93   18     115
499 370                       7        91   38     136
500 316                       0        91   28     119

##### Preliminary summary tables:

Tables were constructed to gain an initial summary of the data. Table *summary_table1* groups posts by type and computes the total posts, total interactions (including all likes, comments, shares), maximum interactions, and number of paid posts for each type. The *paid* column was found to include one observation with missing data, so the *na.rm = TRUE* argument was included.

In [69]:
summary_table1 = fb_data %>% 
    group_by(type) %>%
    summarize(
        total_of_type = n(),
        total_interactions = sum(interactions),
        max_interactions = max(interactions),
        total_paid = sum(paid, na.rm = TRUE))

summary_table1

`summarise()` ungrouping output (override with `.groups` argument)

  type   total_of_type total_interactions max_interactions total_paid
1 Link    22            1959               420               6
2 Photo  426           92263              6334             119
3 Status  45            9767              1009              10
4 Video    7            2071               550               4

Table *summary_table2* groups posts by type and computes the total interactions, maximum interactions, percentage of each interaction type, and percentage of paid posts for each post type. The *likes* and *shares* columns were also found to include observations with missing data, so the *na.rm = TRUE* argument was included in each.

In [85]:
summary_table2 = fb_data %>% 
    group_by(type) %>% 
    summarize(
        total_interactions = sum(interactions),
        max_interactions = max(interactions),
        percentage_of_comments = (sum(comments) / sum(interactions) * 100),
        percentage_of_likes = (sum(likes, na.rm = TRUE) / sum(interactions) * 100),
        percentage_of_shares = (sum(shares, na.rm = TRUE) / sum(interactions) * 100),
        percentage_paid = (sum(paid, na.rm = TRUE) / n()) * 100)     

summary_table2

`summarise()` ungrouping output (override with `.groups` argument)

  type   total_interactions max_interactions percentage_of_comments
1 Link    1959               420             3.164880
2 Photo  92263              6334             3.459675
3 Status  9767              1009             4.105662
4 Video   2071               550             4.152583
  percentage_of_likes percentage_of_shares percentage_paid
1 82.33793            14.49719             27.27273
2 84.11823            12.42210             27.93427
3 81.41702            14.47732             22.22222
4 78.22308            17.62434             57.14286

##### Preliminary visualizations:

Several tables were constructed to gain an initial summary of the data. Table *summary_table1* groups posts by type and computes the total posts, total interactions (including all likes, comments, shares), maximum interactions, and number of paid posts for each type. The *paid* column was found to include one observation with missing data, so the *na.rm = TRUE* argument was included.

#### Methods:

Our analysis will use the following input columns of the dataset: *Page total likes*, *Type*, *Category*, *Paid*, *comment*, *like*, *share*, and *Total Interactions*. Our aim is to use the K-nearest neighbours algorithm to generate a classification model which will classify a post by type (photo, status, link, or video). This will involve analyzing the key engagement metrics (comments, likes, and shares) and comparing their ratios of total interactions to examine how differences in engagement can be used to classify a post’s type. We will be using ratios instead of the raw values because the raw values are a measure of the popularity of the page, and not characteristics of the post type. This will normalize the data, allowing for the model to be effective in classifying posts for any page size. 

To visualize our results, we plan to use a confusion matrix. This will display how often our classification model labels a post correctly, and how often each label gets confused with another. We will also use bar charts to visualize relevant and intermediate results; e.g., we will create a bar chart with post type on the x-axis and interactions on the y-axis, filling out the bars with proportional values of the type of each interaction. As part of the tuning step of creating the model, we can create a line chart to show us the optimal K value.

#### Expected outcomes and significance:

This analysis hopes to define a relationship between type of post (i.e., photo, status, link, or video) and ratio of the corresponding post’s interaction type. It is expected that videos and photos, for example, may have higher percentages of interactions that are comments and/or likes when compared to a link or status.

This classification application for labeling a post’s type could be helpful in identifying the types of reactions that a post might receive. It is possible that we find images get the most likes, while statuses get the most comments. Knowing how these metrics indicate the type could lead to better targeted ad campaigns that look for a certain type of user engagement.

Future questions following from this analysis may include:
- Do paid posts generate more traffic than unpaid posts?
- Does the category of a post (i.e., “action”, “product”, or “inspiration” classification) affect the overall and/or ratio of interactions on a post?
- Do posts with more interactions overall correlate with increases in users liking a company’s Facebook page? 

In examining the data for classification, it is also expected that trends may emerge which could in the future be used to predict post engagement. This predictive knowledge could be used by companies looking to grow their social media reach, as they may more accurately tailor their posts to yield higher engagement before publishing.

In [24]:
#select interested columns
fb_selected_data <- select (fb_data, c(2,8,9,10,11,12,13,14,15))
fb_selected_data

    type   reach impressions engaged_users post_consumers post_consumptions
1   Photo   2752  5091        178           109            159
2   Status 10460 19057       1457          1361           1674
3   Photo   2413  4373        177           113            154
4   Photo  50128 87991       2211           790           1119
5   Photo   7244 13594        671           410            580
6   Status 10472 20849       1191          1073           1389
7   Photo  11692 19479        481           265            364
8   Photo  13720 24137        537           232            305
⋮   ⋮      ⋮     ⋮           ⋮             ⋮              ⋮
493 Link   45920  5808        753           655            763
494 Photo   8412 13960       1179          1111           1632
495 Photo   5400  9218        810           756           1003
496 Photo   4684  7536        733           708            985
497 Photo   3480  6229        537           508            687
498 Photo   3778  7216        625           572            795
499 Photo   4156  7564        626           574            832
500 Photo   4188  7292        564           524            743
    impressions_by_people_that_liked_page reach_by_people_that_like_page
1    3078                                  1640
2   11710                                  6112
3    2812                                  1503
4   61027                                 32048
5    6228                                  3200
6   16034                                  7852
7   15432                                  9328
8   19728                                 11056
⋮   ⋮                                     ⋮
493 15766                                 10720
494  8632                                  5348
495  5654                                  3230
496  4750                                  2876
497  3961                                  2104
498  4742                                  2388
499  4534                                  2452
500  3861                                  2200
    people_liked_and_engaged
1    119
2   1108
3    132
4   1386
5    396
6   1016
7    379
8    422
⋮   ⋮
493 220
494 699
495 422
496 392
497 301
498 363
499 370
500 316